.map_marker {
  position: relative;
  top: -13px;
  height: 32px;
}

.map_marker:hover {
  cursor: pointer;
}

.icon_container {
  width: 200px;
}

.marker_paragraph {
  margin: 5px;
}

.button_primary_custom {
  margin-top: 15px !important;
  /*color: #213A1B !important;*/
  background-color: #C14953 !important;
  /*margin: 15px 0px 5px 0px;*/
  border: 1px solid #C14953 !important;
}

.button_primary_custom:hover {
  box-shadow: 0px 2px 10px gray !important;
}

.popup_custom {
  background-color: #F6F7F8 !important;
}

.popup_custom h3 {
  color: #F6F7F8 !important;
  background-color: #213A1B !important;
}

.popover-header {
  color: #364e43 !important;
  /*background-color: #E5DCC5 !important;*/
}