.map_marker {
  position: relative;
  top: -13px;
  height: 32px;
}

.map_marker:hover {
  cursor: pointer;
}

.icon_container {
  width: 200px;
}

.marker_paragraph {
  margin: 5px;
}

.button_primary_custom {
  margin-top: 15px !important;
  /*color: #213A1B !important;
  background-color: #F6F7F8 !important;
  margin: 15px 0px 5px 0px;
  border: 1px solid #213A1B !important;*/
}

.button_primary_custom:hover {
 /* color: #F6F7F8 !important;
  background-color: #213A1B !important;*/
}

.popup_custom {
  background-color: #F6F7F8 !important;
}

.popup_custom h3 {
  color: #F6F7F8 !important;
  background-color: #213A1B !important;
}