#np-view {
  background-color: #f5f5f6;
  padding: 10px;
  height: 100vh;
}

.np-view-container {
  max-width: 1200px;
  margin: 75px auto 0px auto;
}

.np-view-action-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  border-radius: 10px;
  padding: 5px 20px;
}

#np-icon {
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 20px;
  transition: background-color .5s;
}

#np-icon:hover {
  cursor: pointer;
  background-color: #dedede;
}

.carousel {
  border-radius: 10px;
}

.thumbs-wrapper {
  border-radius: 10px;
  text-align: center;
}

.thumbs {
  margin: 10px;
}

.control-dots,
.carousel-status {
  display: none;
}

.control-arrow {
  width: 75px;
}